In [1]:
import numpy
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_columns', 50)

C:\Users\vivek\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df=pd.read_csv("LIAR-PLUS-master/val1.csv")

In [3]:
df.head()

,Json_id,Label,statement,subject_data,speaker,speaker_job_title,state_info,party_affiliation,Barely_true_count,False_count,Half_true_count,Mostly_true_count,Fire_counts,Context(value/location),Description
0,12134.json,barely-true,We have less Americans working now than in the...,"economy,jobs",vicky-hartzler,U.S. Representative,Missouri,republican,1,0,1,0,0,an interview with ABC17 News,"However, Hartzler was talking about the entire..."
1,238.json,pants-fire,"When Obama was sworn into office, he DID NOT u...","obama-birth-certificate,religion",chain-email,NaN,NaN,none,11,43,8,5,105,NaN,Ellison used a Koran that once belonged to Tho...
2,7891.json,FALSE,Says Having organizations parading as being so...,"campaign-finance,congress,taxes",earl-blumenauer,U.S. representative,Oregon,democrat,0,1,1,1,0,a U.S. Ways and Means hearing,"However, we have two professors who say the la..."
3,8169.json,half-true,Says nearly half of Oregons children are poor.,poverty,jim-francesconi,Member of the State Board of Higher Education,Oregon,none,0,1,1,1,0,an opinion article,"In fact, if you use federal definitions for po..."
4,929.json,half-true,On attacks by Republicans that various program...,"economy,stimulus",barack-obama,President,Illinois,democrat,70,71,160,163,9,interview with CBS News,Obama's point is that some perspective is in o...

In [4]:
df.describe()

,Barely_true_count,False_count,Half_true_count,Mostly_true_count,Fire_counts
count,1284.000000,1284.000000,1284.000000,1284.000000,1284.000000
mean,11.804517,13.832555,17.225078,16.595794,6.881620
std,19.021708,24.546884,35.622818,35.966699,17.597474
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.750000,0.000000,0.000000
50%,3.000000,3.000000,3.000000,3.000000,1.000000
75%,12.000000,17.000000,13.000000,12.000000,5.000000
max,70.000000,114.000000,160.000000,163.000000,105.000000

# Data Cleaning

In [5]:
#Filling in missing values
df['speaker_job_title'].fillna("Others", inplace=True)
df['state_info'].fillna("Others", inplace=True)
df['Context(value/location)'].fillna("Others", inplace=True)
df['speaker'].fillna("none", inplace=True)
df['Barely_true_count'].fillna(0.0, inplace=True)
df['False_count'].fillna(0.0, inplace=True)
df['Half_true_count'].fillna(0.0, inplace=True)
df['Mostly_true_count'].fillna(0.0, inplace=True)
df['Fire_counts'].fillna(0.0, inplace=True)
df['subject_data'].fillna("none", inplace=True)
df['Description'].fillna("Others", inplace=True)

In [ ]:
df.isnull().sum(axis=0)

In [6]:
from nltk.stem import PorterStemmer
import re
stemmer = PorterStemmer()
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

#df = df.reset_index(drop=True)

def clean_text(temp):
    temp = temp.lower() # lowercase text
    temp = re.sub('[^a-zA-Z]',' ', temp)
    temp=temp.split( )
    temp= [stemmer.stem(word) for word in temp if word not in set(stopwords.words('english'))]
    temp= ' '.join(temp)
    return temp
df['statement'] = df['statement'].apply(clean_text)
df['subject_data'] = df['subject_data'].apply(clean_text)
df['Description'] = df['Description'].apply(clean_text)
df['Context(value/location)'] = df['Context(value/location)'].apply(clean_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vivek\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
df.to_csv(r'val_cl.csv',index=False)